/* common */
body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
.b-loginbody {
    background: #eee;
    margin-top: 100px;
}
.b-adminbody {
    padding-top: 10px;
    background: #eee;
}
.loginza_panel {
    background: #fff;
    margin: 5em auto;
    width: 390px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0,0,0,.3);
}
.loginza_frame {
    height: 185px;
    margin: auto;
    width: 350px;
}
.b-btnpadded {
    margin-top: 8px;
}
.colorpicker-icon {
    display: block;
    width: 1em;
    height: 1em;
    background: #000;
}
.bg {
    padding: 10px;
    width: 120px;
    height: 120px;
}
.bg-img {
    max-width: 100px;
    max-height: 100px;
}
.sortable > .panel-heading {
    cursor: move;
}

/* helpers */
.h-inline {
    display: inline;
}