/* common */
body {
    font-family: Calibri, sans-serif;
    background: #fff;
}
a {
    color: #9C5E39;
}
a:hover, a:focus {
    color: #9C5E39;
    text-decoration: underline;
}


/* helpers */
.h-inline {
    display: inline;
}