/* common */
body {
    font-family: Calibri, sans-serif;
    background: url(../img/bg.png);
}
a {
    color: #9C5E39;
}
a:hover, a:focus {
    color: #9C5E39;
    text-decoration: underline;
}

/* blocks */
.b-errorbody {
    padding: 100px 0;
}
.b-header {
    background: url(../img/bg_dark.png);
    color: #fff;
    padding: .6em 0;
}
.b-header__link, .b-header__link:hover {
    color: #E1C785;
}
.b-header__link-white, .b-header__link-white:hover {
    color: #fff;
}
.b-search__btn, .b-search__btn:hover {
    background: #9C5E39;
    border-color: #666;
    color: #fff;
}
.b-poster {
    margin-bottom: 2em;
    background: #fff;
    position: relative;
    min-height: 55px;
}
.b-poster__image {
    width: 100%;
}
.b-title {
    position: absolute;
    bottom: 5%;
    left: 2%;
    width: 33%;
    display: block;
}
.b-title__img {
    width: 100%;
}
.b-footer {
    background: #ccc url(../img/bgnoise_lg.png);
    padding: .5em 1em 1em 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.b-menu {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}
.b-post {
    margin-bottom: 2em;
}
.b-post__panel {
    padding: .8em 1em;
    background: #ccc url(../img/bgnoise_lg.png);
    height: 100%;
}
.b-post__title {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
}
    .b-post__title-small {
        font-size: 1.15em;
        margin-bottom: 0
    }
.b-post__data {
    background: #fff;
    padding: .5em 1em 1em 1em;
}
.b-post__lastcomment {
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.b-post__data iframe {
    max-width: 100%;
}
.b-post__tags {
    line-height: 3em;
}
.b-post__footer {
    border-top: 1px solid #ccc;
    background: #fff;
    padding: .5em 1em 1em 1em;
}
.b-tag {
    background-color: #eee;
    border-color: #ccc;
    color: #666;
}
.b-post__img {
    min-width: 100%;
    max-width: 100%;
    margin: .5em 0;
}
.b-post__imgdiv {
    position: relative;
    margin-bottom: .5em;
    border-bottom: 1px dashed #ccc;
    padding-bottom: .5em;
}
.b-post__imgdiv > .b-post__imgbtns {
    visibility: hidden;
}
.b-post__imgdiv:hover > .b-post__imgbtns {
    visibility: visible;
}
.b-post__imgdiv:last-child {
    border-bottom: none;
}
.b-post__imgbtns {
    position: absolute;
    top: 1.2em;
    left: 1em;
}
.b-postthumb__small {
    width: 148px;
    border: 1px solid #eee;
}
.b-comment {
    padding-top: 15px;
    border-top: 1px solid #eee;
}
    .b-comment:first-child{
        padding-top: 0;
        border-top: none;
    }
.b-comment__text {
    max-height: 400px;
    overflow: auto;
}
.b-likes__count {
    background: #fff;
    border-radius: 7px;
    font-family: Calibri;
    font-size: 11px;
    opacity: 0.7;
    padding: 0 6px;
}
    .b-likes__count:hover {
        opacity: 1;
        cursor: default;
    }
.b-commentform {
    padding-top: .5em;
}
    .b-commentform, .b-commentform .media-body {
        overflow: visible;
    }
.b-commentform__group {
    position: relative;
}
.b-commentform__div {
    margin-bottom: .4em;
}
.b-avatar {
    width: 50px;
    max-height: 50px;
}
.b-like {
    cursor: pointer;
    color: #c33;
}
.b-like:hover {
    color: #f66;
}
.b-like-off, .b-like-off:hover {
    color: #555;
    text-shadow: none;
}
.b-likelist__title {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.b-likepost {
    height: 100px;
}
.b-comment__last {
    margin-bottom: 2em;
}
    .b-comment__last:last-child {
        margin-bottom: 0em;
    }
.b-vk {
    overflow: hidden;
}

/* old tyampuru */
.b-post-image_text {
    display: block;
    position: relative;
    margin-bottom: .5em;
    border-bottom: 1px dashed #ccc;
    padding-bottom: .5em;
}
.b-post-image_text:last-child {
    border-bottom: none;
}
.b-post-image_text > img {
    max-width: 100%;
    margin: .5em 0;
}

/* bootstrap overwrite */
a.list-group-item, a.list-group-item:hover {
    color: #9C5E39;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #9C5E39;
}
.nav-pills>li>a:hover {
    color: #fff;
    background-color: #9C5E39;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover  {
    color: #9C5E39;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    border-color: #9C5E39;
    background-color: #9C5E39;
    color: #fff;
}
.btn-primary, .btn-primary:focus, .btn-primary:active {
    background: #9C5E39;
    color: #fff;
    border: none;
}
.btn-primary:hover {
    background: #E1C785;
    color: #fff;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #9C5E39;
    border-color: #9C5E39;
    color: #fff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #9C5E39;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}

/* helpers */
.h-shadow {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.h-inline {
    display: inline;
}